<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Auther" content="Shehab Alsharif">
    <link rel="shortcut icon" href="../images/image02.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/benefits.css">
    <title>Our Team</title>
</head>
<body>
    <header class="header">
        <div  class="logo">
            <img src="../images/image02.png" alt="" width="50">
        <a href="./index.html">Mopad</a>
    </div>
        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a class="underline-animation" href="./index.html">Home</a></li>
            <li><a class="underline-animation" href="./benefits.html">Benefits</a></li>
            <li><a class="underline-animation" href="./freeSample.html">Free Sample</a></li>
          <li><a class="underline-animation" href="./getintouch.html">Get In Touch</a></li>
        </ul>
    </header>

    
    <main class="main">
        <section class="section__1">
            <h1>Make stronger connections.</h1>
            <h1>Deliver more wins.</h1>
                <p class="talk">marketing and sales solutions ofr the intelligent business.</p>
        </section>
        <section class="section__2">
            <div>
                <img src="../images/image01.jpg" alt="" width="85" height="85">
                <h3>MARKETING</h3>
                <p>make real connections</p>
            </div>

            <div>
                <img src="../images/image07.jpg" alt="" width="85" height="85">
                <h3>SALES</h3>
                <p>Shorthen the sales circle, reiginte stagnant deals and convert more prospects into customers.</p>
            </div>

            <div>
                <img src="../images/image08.jpg" alt="" width="85" height="85">
                <h3>Printing</h3>
                <p>Build your crediblity, stand out ant define your success</p>
            </div>
        </section>


        <section class="section__3">
            <h4>Drive Engagement. Drive Results.</h4>
                <div class="grid__choice">
                    <div class="pic"><img src="../images/image01.jpg" alt="" width="85" height="85"></div>
                    <div class="head">Sales pages</div>
                    <div class="grid__text">Great way to increase sales. This is a go-to tactic all big companies go for.</div>
                </div>
    
                <div class="grid__choice">
                    <div class="pic"><img src="../images/image07.jpg" alt="" width="85" height="85"></div>
                    <div class="head">Lead funnels</div>
                    <div class="grid__text">Think of it as a slide. The beginning is when the potential client starts reading. If the slide is smooth, the end is when they buy.</div>
                </div>
    
                <div class="grid__choice">
                    <div class="pic"><img src="../images/image08.jpg" alt="" width="85" height="85"></div>
                    <div class="head">And More...</div>
                    <div class="grid__text">If you want to find out what else we have to offer, feel free to hit us up with an email. We can also schedule a quick zoom call and discuss everything.</div>
                </div>
            
        </section>
        

        
            
        <!-- <div class="all">
             <button class="left">&#8678;</button> 
            
            
            <article class="profile_1">
                <button class="left firstLeft">&#8678;</button>
                <section class="text">
                    <p class="gray">COPYWRITING AND DESIGN</p>
                    <h2>Panagiotis Balopitas</h2>
                    <p class="normal">From a former high-school student to writing intriguing and high-quality copy. I am most capable when it comes to Email marketing and Ad Campaigns.</p>
                    <div class="personal_email"> <a href="#">Personal Email</a></div>
                </section>
                <section class="image">
                    <img src="/images/image04.jpg" alt="">
                </section>
                <button class="right firstRight">&#8680;</button>
            </article>



            <article class="profile_2">
                <button class="left secondLeft">&#8678;</button>
                <section class="text">
                    <p class="gray">COPYWRITING AND WEB MAKING</p>
                    <h2>Adonis Bespalov</h2>
                    <p class="normal">Life is like a game of chess you need always to be 10 steps ahead of your opponents. That mentality makes me a fierce web designer and ad creator.</p>
                    <div class="personal_email"><a href="#">Personal Email</a></div>
                </section>
                <section class="image">
                    <img src="/images/image05.jpg" alt="">
                </section>
                <button class="right secondRight">&#8680;</button>
            </article>


            <article class="profile_3">
                <button class="left thirdLeft">&#8678;</button>
                <section class="text">
                    <p class="gray">COPYWRITING AND DESIGN</p>
                    <h2>Mohammed Khaled Aboukress</h2>
                    <p class="normal">From ashes, diamonds rise, a former college student at one of the worst universities there is who pushed through the pain to become one of the best copywriters there is.</p>
                    <div class="personal_email"><a href="#">Personal Email</a></div>
                </section>
                <section class="image">
                    <img src="/images/image09.jpg" alt="">
                </section>
                <button class="right thirdRight">&#8680;</button>
            </article>
            
        </div> -->
        
    </main>
    
</body>
</html>