<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Auther" content="Shehab Alsharif">
    <link rel="shortcut icon" href="../images/image02.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Mopad solutions</title>
</head>
  
<body>
    
        <header class="header">
            <div  class="logo">
                <img src="../images/image02.png" alt="" width="50">
            <a href="./index.html">Mopad</a>
        </div>
            <input class="menu-btn" type="checkbox" id="menu-btn">
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
              <li><a class="underline-animation" href="./benefits.html">Benefits</a></li>
              <li><a class="underline-animation" href="./freeSample.html">Free Sample</a></li>
              <li><a class="underline-animation" href="./ourTeam.html">Our Team</a></li>
              <li><a class="underline-animation" href="./getintouch.html">Get In Touch</a></li>
            </ul>
          </header>

          
        <main class="main">
            <div class="all">
            <div class="other_half">
                <img src="../images/image02.png" alt="">
            </div>
            
                <div class="half">
                    <h1 class="main__h1">The Solution You<br>
                    <span> Didn't Know Existed</span></h1>
                    <h2 class="main__h2">You can make the world do anything. All you need to do is find a good way to present it</h2>
                    <div class="main__div3"><a href="#"><div class="text">GET STARTED &nbsp;&nbsp;</div>
                    <div class="arrow">&#8594;</div></a></div>
                </div>
                
               
            </div>
            
        </main> 

</body>

</html>
